
html, body {
  height: 100%;
  margin: 0;
}


.navbar {
  text-align: center;
  height: 7rem;
  background-color: blue;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbarColor {
  background-color: pink;
}

.head {
  text-align: center;
}
